extends layout

block content
  nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
    div(class="container")
      div(class="navbar-header page-scroll")
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand page-scroll" href="#page-top")
          img(src="images/banner_ictmg.png" alt="ICTMG")
      
      div(class="collapse navbar-collapse navbar-ex1-collapse")
        ul(class="nav navbar-nav")
          //- Hidden li included to remove active class from about link when scrolled up past about section
          li(class="hidden")
            a(class="page-scroll" href="#page-top")
          li
            a(class="page-scroll" href='/') Voltar ao Início
      //- /.navbar-collapse
    //- /.counteiner
  
  //- Describe Section
  section(id="describe" class="describe-section")
    div(class="container")
      div(class="row")
        div(class="col-lg-7")
            h2(class="subtitle-font") #{course.category}
            br 
            h3(class="title-font") #{course.fullname} - 
              span(class="subtitle-font") #{course.shortname}
            br
            h5(class="text-font") #{course.sumary}
            br
            p Data de início: 
             strong #{course.startdate}
            p Data de término: 
             strong #{course.enddate}
            br
            br
            br
            a(class='list-group-item', href="/register") Quero me cadastrar
        div(class="col-lg-5")
            img(src="images/3d.PNG" alt="ICTMG3D")